@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F2E0C8;
}

.header {
    background-color: #907C60; 
}

.text{
    font-family: Poppins;
    font-size: large;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    text-align: center;
    border-radius: 3%;
}

.text form input{
    width: calc(100% - 200px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #FFFFFF;
    font-size: 15px;

}
.text form button{
    width: 76%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color: #907C60;
    font-size: 15px;
    color: #fafafa;
}
           